<ActionBar class="actionbar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <StackLayout>
        <GridLayout columns="35 * 45">
            <Label [text]="'fa-chevron-left' | fonticon" (tap)="goBack()" class="fa fa-actionbar center" col="0"></Label>
            <Label [text]="'CONFERENCE.PAGE_TITLE' | translate" class="actionbar-title" col="1"></Label>
        </GridLayout>
    </StackLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="page-wrapper">

        <GridLayout rows="*" columns="auto, *">
            <Label class="geomanist-bold header" text="{{event.date}}" row="0" col="0"></Label>
            <Label class="geomanist-bold header" text="{{event.start}} - {{event.end}}" row="0" col="1" horizontalAlignment="right"></Label>
        </GridLayout>
        <StackLayout class="pt-10">
            <Label class="geomanist-ultra-small" [text]="'CONFERENCE.HDR_SCHEDULE' | translate" textWrap="true"></Label>
        </StackLayout>

        <StackLayout class="list">
            <StackLayout *ngFor="let session of sessions">
                <GridLayout class="list-item" columns="50 * 25" [nsRouterLink]="['/session', session.id]">
                    <Label class="text" [text]="session.start" textWrap="true" col="0" verticalAlignment="center"></Label>
                    <Label class="text" [text]="session.title" textWrap="true" col="1" verticalAlignment="center"></Label>
                    <Label class="text" [text]="'fa-chevron-right' | fonticon" col="2" class="fa right" verticalAlignment="center" [visibility]="session.type == 'TALK' ? 'visible' : 'collapsed'"></Label>
                </GridLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout class="pt-10">
            <Label class="geomanist-ultra-small" [text]="'CONFERENCE.HDR_VENUE' | translate" textWrap="true"></Label>
        </StackLayout>
        <GridLayout columns="2*, *">
            <StackLayout col="0" class="text">
                <Label text="{{venue.name}}" textWrap="true"></Label>
                <Label text="{{venue.address}}" textWrap="true"></Label>
                <Label text="{{venue.zipcode}} {{venue.city}}" textWrap="true"></Label>
                <Label text="{{venue.country}}" textWrap="true"></Label>
            </StackLayout>
            <Button col="1" [text]="'fa-map-marker' | fonticon" class="fa fa-icon button-rounded button-small center" [nsRouterLink]="['/map', venue.id]"></Button>
        </GridLayout>

    </StackLayout>
</ScrollView>